{% extends 'Team/base.html' %}

{% block title %}TeamBuilder - Log In{% endblock %}

{% block content %}
<h1 style="text-align: center;">TeamBuilder</h1>
<h2 style= "text-align: center;">Log in</h2>
<div class="d-flex justify-content-center">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log In</button>
    </form>
</div>
<div style="text-align: center;">
<a href="Team/register">New to TeamBuilder? Create your account here!</a>
</div>
{% endblock %}
