{% extends 'Team/base.html' %}

{% block title %}TeamBuilder - Register{% endblock %}

{% block content %}
<h1 style="text-align: center;">TeamBuilder</h1>
<h2 style= "text-align: center;">Register</h2>
<div class="d-flex justify-content-center">
    <form method="post">{% csrf_token %}
	    {% for field in registration_form %}
            <p>
        	    {{field.label_tag}}
        	    {{field}}

        	    {% if field.help_text %}
                    <small style="color: grey;">{{field.help_text}}</small>
        	    {% endif %}

        	    {% for error in field.errors %}
                    <p style="color: red;">{{error}}</p>
        	    {% endfor %}
            </p>
	    {% endfor %}
	    <button type="submit">Register</button>
    </form>
</div>
<div style="text-align: center;">
    <a href="Team/login">Already registered? Sign in here!</a>
</div>
{% endblock %}